__pycache__

# Vscode
.vscode

# local files
logs
data
temp
search_result

# Environment files
.venv
venv
credentials

.env

# Mac files
.DS_Store

# Pycharm
**/.idea*
**/.idea*/**
.idea/**
.idea

# .pyc
./*.pyc
**/*.pyc
**/**/*.pyc

# results
results/
